@model IEnumerable<SportsStore.Domain.Entities.Category>

<h1>All Categories</h1>
<table class="Grid">
    <tr>
        <th>Category ID</th>
        <th>Category Name</th>
        <th>Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CatID</td>
            <td>@Html.ActionLink(item.CatName, "EditCategory", new { item.CatID })</td>
            <td>
                @using (Html.BeginForm("DeleteCategory", "Admin"))
                {
                    @Html.Hidden("CatID", item.CatID)
                    <input type="submit" value="Delete" />
                }
            </td>
        </tr>
    }
</table>
<p>@Html.ActionLink("Add a new category", "CreateCategory")</p>